server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tpv_auth
    username: tpv_user
    password: tpv_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      indent_output: true

app:
  jwt:
    secret: "1234567890123456789012345678901234567890123456789012345678901234"
    issuer: "tpv-auth-service"
    expiration-minutes: 60
