server:
  port: 8080

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/auth/**

            - id: pos-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/pos/**


logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
app:
  jwt:
    secret: "1234567890123456789012345678901234567890123456789012345678901234"